* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hhh:hover {
    background-color: aqua;
    height: 50px;
}

.Ser {
    height: 40px;
    text-align: center;
    border-radius: 40% !important;
}
.More{
    position: relative;
    top: 33px;
}
.Read{
    position: relative;
    top: 33px;
}

.btn:hover {
    background-color: aqua !important;
    color: black !important;
}

.card-title {
    font-size: 15px;
    font-weight: 800;
    height: 30px;
}

.card-text {
    font-size: 15px;
    height: 130px;
}

.card {
    height: 500px;
    margin: 2px;
}

.form-control {
    /* width: 200px !important; */
    height: 30px !important;
    text-align: center;
    font-size: 20px !important;
    margin-top: 6px;
}